/* TASK 6 */
* {
  margin: 0;
  padding: 0;
}

/* more styles */
@import url("my-imported-styles.css");

/* Explanation for TASK 6. Rule @import must be at first line before defined styles */

/* TASK 7 */
html {
  --primary-text-color: #000;
  --primary-bg-color: #fff;
}

footer {
  --footer-text-color: #fff;
  --fuuter-bg-color: #000;
}
