.header {
  position: relative;

  background-color: #fceed5;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: url('./../images/header-bg@1.png');
  background-repeat: no-repeat;
  background-position: left bottom;
}

.header .header-logotype,
.header .header-menu-link {
  padding: 1rem 0.5rem;
}

.header .header-nav {
  display: none;
}

.header .header-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.header .header-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-menu-link {
  font-weight: 700;
  line-height: 1.5;
  color: var(--primary-color);
}

.header .burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 0;
}

.header .burger-btn .icon {
  fill: var(--primary-color);
}

.header .cart-btn {
  padding: 0.5rem;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .cart-btn .icon {
  fill: transparent;
  stroke: var(--primary-color);
}

@media (min-width: 768px) {
}

@media (min-width: 991px) {
  .header .header-nav {
    display: flex;
    column-gap: 100px;
  }

  .header .burger-btn {
    display: none;
  }

  .header .cart-btn:focus-visible,
  .header a:focus-visible {
    outline-width: 0px;
    outline-style: solid;
    outline-color: var(--secondary-color);

    transition: color 100ms linear, outline-width 100ms linear;
  }

  .header .cart-btn:focus,
  .header a:focus {
    outline-width: 2px;
  }

  .header a:hover,
  .header a:focus {
    color: #ffbb3e;
  }

  .header .cart-btn:hover {
    cursor: pointer;
  }

  .header .icon {
    transition: stroke 100ms linear;
  }
  .header .cart-btn:hover .icon,
  .header .cart-btn:focus .icon {
    stroke: #ffbb3e;
  }
}
