.cart-overlay {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;

  transition: opacity 100ms linear;
}

.cart {
  width: 100%;
  height: 100%;

  position: relative;
  right: 100%;

  background-color: var(--neutral-10);
  padding: 0 1rem 1rem 1rem;

  overflow-y: auto;

  transition: right 200ms linear;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  background-color: var(--neutral-10);
}

.cart-title {
  font-size: 1.5rem;
}

.cart-close {
  background: transparent;
  padding: 0;
  padding: 0.65rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  padding: 1rem;

  background-color: var(--neutral-00);
  margin-bottom: 1rem;
  border-radius: 0.65rem;

  transition: box-shadow 100ms linear;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 0.65rem;

  margin-bottom: 1rem;
}

.product-cart-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 1rem;
}

.product-image-link {
  flex: 0 0 100px;
  height: 100px;
}

.product-title-link {
  flex-basis: max-content;
}

.product-cart-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.35rem;
}

.product-delete {
  padding: 0.5rem;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  flex: 0 0 auto;
}

.product-delete > .icon {
  fill: var(--orange-shine);
}

.product-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-counter {
  max-width: 128px;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 5px;
}

.product-counter-input {
  flex-basis: calc(50% - 10px);
}

.product-counter-input input {
  width: 100%;
  height: 100%;

  border: 1px solid var(--primary-color-60);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--neutral-60);
  font-size: 0.75rem;

  padding: 0 0.4rem;
  text-align: center;
}

.product-minus svg,
.product-plus svg {
  fill: var(--neutral-00);
}
.product-plus,
.product-minus {
  padding: 0;

  flex-basis: 25%;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color-60);
  border: none;
  border-radius: 5px;

  transition: background-color 100ms linear;
}

.product-minus:disabled {
  background-color: var(--neutral-40);
}

.product-price {
  text-align: right;
  flex: 0 1 max-content;
  font-size: 1rem;
  font-weight: 700;
}

.cart-total {
  background-color: var(--neutral-00);
  border-radius: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 700;

  border-bottom: 5px solid var(--orange-shine);
  margin-bottom: 0.85rem;
}

.cart-price-total {
  margin-right: 0.5rem;
}

.cart-overlay.cart-active {
  opacity: 1;
  pointer-events: all;
}

.cart-overlay.cart-active .cart {
  right: 0;
}

@media (min-width: 768px) {
  .cart {
    width: 94vw;
    height: 94vh;
    max-width: 900px;

    border-radius: 0.75rem;
  }

  .cart-header {
    position: sticky;
    top: 0;
    left: 0;
  }

  .cart-content {
    margin: 1rem auto 2.5rem auto;
    max-width: 600px;
  }

  .product-image-link {
    flex: 0 0 150px;
  }

  .cart-footer {
    margin: 0 auto;
    max-width: 300px;
  }

  .cart-total {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 991px) {
  .cart-close:hover,
  .cart-close:focus {
    cursor: pointer;

    outline-width: 2px;
    outline-color: var(--orange-shine);
  }

  .product-title-link:focus,
  .product-image-link:focus {
    outline-width: 2px;
    outline-color: var(--orange-shine);
  }

  .product-delete:hover,
  .product-delete:focus {
    cursor: pointer;
    outline-width: 2px;
    outline-color: var(--orange-shine);
  }

  .product-counter button:focus {
    cursor: pointer;
    outline-width: 2px;
    outline-color: var(--orange-shine);
  }

  .product-counter button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
  }

  .product:hover,
  .product:focus {
    box-shadow: 1px 2px 8px 0px #5e5e5e;
    outline-width: 2px;
    outline-color: var(--orange-shine);
  }
}
