section.hero {
  padding-top: 50px;
  background: linear-gradient(
    134deg,
    #fceed5 6.17%,
    #fceed5 75.14%,
    #ffe7ba 100%
  );
  overflow: hidden;
}

section.hero > .container {
  position: relative;
  min-height: 32rem;
}

section.hero > .container::before,
section.hero > .container::after {
  content: '';
  display: block;
  position: absolute;

  transition: transform 400ms ease-in-out, width 400ms ease-in-out,
    height 400ms ease-in-out;

  z-index: -1;
}

section.hero > .container:before {
  width: 280px;
  height: 250px;

  border-radius: 17%;
  background-color: var(--secondary-color);

  right: 50%;
  bottom: 0;
  z-index: 2;

  transform: translateX(71%) translateY(29%) rotate(25deg);
}

section.hero > .container::after {
  width: 150px;
  height: 150px;

  border-radius: 30%;
  background-color: var(--primary-color);

  right: 50%;
  bottom: 1.5rem;
  z-index: 1;

  transform: translateX(-19%) translateY(20px) rotate(10deg);
}

section.hero .hero-title {
  margin-bottom: 0.75rem;
  position: relative;
  z-index: 3;
}

section.hero .hero-title:before {
  content: '';
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--secondary-color);
  border-radius: 20%;

  position: absolute;
  z-index: -1;
  transform: rotate(20deg);

  transition: width 250ms ease-in-out, height 250ms ease-in-out,
    transform 250ms ease-in-out;
}

section.hero .hero-title-decoration {
  display: block;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.36;
  text-transform: capitalize;
  color: var(--primary-color);
}

section.hero .hero-description {
  max-width: 31.25rem;
  margin-bottom: 1.5rem;
  position: relative;
}

section.hero .hero-animal-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 3;

  transform: translateX(-50%);

  transition: left 250ms ease-in-out, transform 250ms ease-in-out;
}

section.hero .hero-btn {
  display: flex;
  position: relative;
}

section.hero .btn-link {
  flex-basis: 100%;
  position: relative;
  z-index: 2;
  margin-top: 0;
  outline: none;
}

section.hero .pet-1,
section.hero .pet-2 {
  display: none;
}

@media (min-width: 768px) {
  section.hero > .container {
    min-height: 27rem;
  }

  section.hero > .container:before {
    width: 400px;
    height: 450px;
    transform: translateX(82%) translateY(40%) rotate(25deg);
  }

  section.hero > .container:after {
    width: 201px;
    height: 328px;
    border-radius: 21%;
    transform: translateX(53%) translateY(22%) rotate(10deg);
  }

  section.hero .hero-title::before {
    width: 3.5rem;
    height: 3.5rem;
  }

  section.hero .hero-description {
    max-width: 40%;
  }

  section.hero .hero-animal-image {
    transform: none;
  }

  section.hero .btn-link {
    flex-basis: 30%;
  }
}

@media (min-width: 991px) {
  section.hero {
    padding: 100px 0;
  }

  section.hero > .container:before {
    right: 0;
    width: 560px;
    height: 754px;
    border-radius: 10%;
    transform: translateX(-60px) translateY(432px) rotate(20deg);
  }

  section.hero > .container:after {
    width: 362px;
    height: 537px;
    border-radius: 20%;
    transform: translateX(310px) translateY(262px) rotate(6deg);
  }

  section.hero .hero-title {
    font-size: 3.75rem;
    line-height: 1.33;
  }

  section.hero .hero-title::before {
    width: 4.5rem;
    height: 4.5rem;
  }

  section.hero .hero-title-decoration {
    font-size: 2.875rem;
    line-height: 1.3;
  }

  section.hero .hero-description {
    font-size: 1rem;
  }

  section.hero .hero-animal-image {
    left: 35%;
    bottom: -7.125rem;
  }

  section.hero .icon {
    display: block;
    position: absolute;
    z-index: 1;

    transition: transform 200ms ease-in-out;
  }

  section.hero .pet-1 {
    top: -5px;
    left: 23%;
  }

  section.hero .pet-2 {
    top: 0;
    left: 10px;
  }

  section.hero .btn-link:focus {
    outline-width: 2px;
    outline-color: var(--orange-shine);
    outline-style: solid;
    outline-offset: 0.1rem;
  }

  section.hero .btn-link:hover ~ .pet-1 {
    transform: translateY(-20px) translateX(60px) rotate(15deg);
  }

  section.hero .btn-link:hover ~ .pet-2 {
    transform: translateY(40px) rotate(-15deg);
  }
}
