section.products {
  padding: 2.5rem 0;
}

section.products .products-catalog {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

section.products .product-card {
  box-shadow: 0 4px 28px -2px rgba(0, 0, 0, 0.08);
  background: #fdfdfd;

  border-radius: 0.75rem;

  overflow: hidden;
  outline: none;
}

section.products .product-link {
  padding: 10px 10px 20px 10px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.products .product-image-wrapper {
  width: 100%;
  height: 264px;
  margin-bottom: 1rem;
  overflow: hidden;
}

section.products .product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 0.625rem;

  transition: transform 100ms linear;
}

section.products .product-title {
  font-size: 1rem;
  transition: color 100ms linear;
}

section.products .product-title,
section.products .product-types {
  margin-bottom: 0.625rem;
}

section.products .product-types {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--neutral-60);
}

section.products .product-type:not(:last-child) {
  margin-bottom: 0.313rem;
}

section.products span.type-key {
  margin-right: 5px;
}

section.products .product-price {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.43;
  color: var(--neutral-100);

  transition: color 100ms linear;
}

section.products .card-btn {
  border-radius: 1.5rem;
  text-transform: capitalize;
  transition: background-color 100ms linear;
  margin-top: 1rem;
}

section.products .card-btn .icon {
  fill: var(--secondary-color-80);

  position: absolute;
  top: 50%;
  right: 2rem;

  transform: translateY(-50%);

  opacity: 0;
  transition: opacity 150ms linear;
}

@media (min-width: 768px) {
  section.products .products-catalog {
    flex-direction: row;
    flex-wrap: wrap;
  }

  section.products .product-card {
    flex-basis: calc((100% - (1.25rem * 2)) / 3);
  }

  section.products .product-price {
    font-size: 1.25rem;
  }
}

@media (min-width: 991px) {
  section.products .product-card {
    flex-basis: calc((100% - (1.25rem * 3)) / 4);
  }

  section.products .product-card:hover .product-image,
  section.products .product-card:focus .product-image {
    transform: scale(1.1);
  }

  section.products .product-card:focus {
    outline-offset: 0.3rem;
    outline-width: 2px;
    outline-color: var(--orange-shine);
    outline-style: solid;
  }

  section.products .product-card:hover .product-title,
  section.products .product-card:focus .product-title,
  section.products .product-card:hover .product-price,
  section.products .product-card:focus .product-price {
    color: var(--orange-shine);
  }

  section.products .card-btn {
    position: relative;
  }

  section.products .product-link:hover .card-btn,
  section.products .card:focus .card-btn {
    background-color: var(--primary-color-80);
    cursor: pointer;
  }

  section.products .product-link:hover .card-btn .icon,
  section.products .card:focus .card-btn .icon {
    opacity: 1;
  }
}
