:root {
  --primary-font-family: 'Inter', sans-serif;
  --primary-font-size: 0.75rem;
  --standart-font-size: 1rem;

  --primary-color: #003459;
  --primary-color-80: #002a48;
  --primary-color-60: #00528c;
  --primary-color-40: #0078cd;

  --secondary-color: #f7dba7;
  --secondary-color-80: #eec77e;
  --secondary-color-60: #f1d092;
  --secondary-color-40: #fceed5;

  --pink-red: #ff564f;
  --green-light: #34c759;
  --orange-shine: #ff912c;
  --blue-sea: #00a7e7;

  --neutral-100: #00171f;
  --neutral-80: #242b33;
  --neutral-60: #667479;
  --neutral-40: #99a2a5;
  --neutral-20: #ccd1d2;
  --neutral-10: #ebeeef;
  --neutral-00: #fdfdfd;
}
