.grid-container {
  display: grid;
  grid-gap: 20px;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: auto;
}

.header {
  grid-column: 1 / -1;
}

.main {
  grid-column: 2 / -1;
}

.footer {
  grid-column: 1 / -1;
}
